<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activity Page</title>
  </head>
  <body>
    <h1>Activites page</h1>
    <h2>Activity: {{activity.activity}}</h2>
    <h2>Type: {{activity.type}}</h2>
    <h2>Participants: {{activity.participants}}</h2>
    <h2>Price: ${{activity.price}}</h2>
    <a>{{activity.link}}</a>
  </body>
</html>
